<div class="container  pt-5 px-5">

    <h1 class="mb-5">My services</h1>
    <div class=" mb-2 grid grid-cols-4 gap-10">
        <div *ngFor="let offer of offers|async" routerLink="/service/{{offer.id}}"
            class="offer shadow rounded-md w-full md:w-72 col-span-4 md:col-span-1 transition-colors cursor-pointer hover:bg-gray-100">
            <div class="cover-Photo mb-2 w-full h-28 ">
                <img class="offer-image rounded-t-md w-full h-full object-cover mb-3"
                    src="http://localhost:8080/api/{{offer.serviceImageUrl[offer.mainPhotoIndex]}}" alt="">
            </div>
            <div class="offers-info  px-2 py-1">
                <div class=" cursor-pointer seller-info  flex mb-2 justify-between">
                    <div routerLink="/profile" class="flex cursor-pointer hover:text-blue-500">
                        <img *ngIf="offer.user.profilePhotoUrl" class="w-9 h-9 object-cover border-2 rounded-full  mr-2"
                            src="http://localhost:8080/api/{{offer.user.profilePhotoUrl}}" alt="">
                        <img *ngIf="!offer.user.profilePhotoUrl"
                            class="w-9 h-9 object-cover border-2 rounded-full  mr-2" src="" alt="">


                        <span class="mt-auto text-black hover:text-blue-500">{{offer.user.name + ' ' +
                            offer.user.familyName}}</span>
                    </div>

                    <div *ngIf="!offer.degital" class="mt-auto">{{offer.price | currency}}</div>
                    <div *ngIf="offer.degital" class="mt-auto">{{offer.plans[0].price | currency}}</div>

                </div>
                <div class="text-sm">{{offer.title}}</div>
            </div>



        </div>

        <div (click)="showModal=true"
            class="flex h-48 justify-center offer shadow rounded-md w-full md:w-72 col-span-4 md:col-span-1 transition-colors cursor-pointer hover:bg-gray-100">
            <div class="flex flex-col justify-center">
                <div class="text-center">
                    <svg class="mx-auto mb-5" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                        fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                    </svg>


                    <h2>Create new Service</h2>
                </div>
            </div>



        </div>
    </div>



    <div *ngIf="showModal" class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog"
        aria-modal="true">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

            <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>


            <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>


            <div
                class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div
                            class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-blue-100 sm:mx-0 sm:h-10 sm:w-10">

                            <svg class="h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                Choose type of the offer
                            </h3>
                            <div class="mt-2">
                                <p class="text-sm text-gray-500">
                                    You can choose between 2 types of offers, IRL for real life job , Degital for online
                                    transaction
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50  px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                    <button (click)="chooseType(false)" type="button"
                        class="mb-3 md:mb-0 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                        IRL
                    </button>

                    <button (click)="chooseType(true)" type="button"
                        class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-blue-600 text-base font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 sm:ml-3 sm:w-auto sm:text-sm">
                        Degital
                    </button>

                    <button (click)="showModal=false" type="button"
                        class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                        Cancel
                    </button>

                </div>
            </div>
        </div>
    </div>