<div class="pt-11 md:mx-5 sm:mt-0">
    <div>
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-semibold leading-6 text-gray-900">Company</h3>
                    <p class="mt-1 text-sm text-gray-600">
                        This information will be displayed in Entreprise section
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form [formGroup]="entrepriseForm">
                    <div class="shadow sm:rounded-md sm:overflow-hidden">
                        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address"
                                        class="block text-sm font-semibold text-gray-700">Company name
                                    </label>
                                    <input formControlName="name" type="text" name="street_address" id="street_address"
                                        autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                    <div *ngIf="(name.dirty || name.touched) && name.errors" class="errors">
                                        <span *ngIf="name.errors?.required">Company name is required</span>
                                        <span *ngIf="name.errors?.minlength">Company name is short</span>
                                    </div>

                                </div>

                                <div class="col-span-6 ">
                                    <label for="about" class="block text-sm font-semibold text-gray-700">
                                        About
                                    </label>
                                    <div class="mt-1">
                                        <textarea formControlName="description" id="about" name="about" rows="3"
                                            class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                            placeholder=""></textarea>

                                        <div *ngIf="(description.dirty || description.touched) && description.errors"
                                            class="errors">
                                            <span *ngIf="description.errors?.required">Description is required</span>
                                            <span *ngIf="description.errors?.minlength">Description is short</span>
                                        </div>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500">
                                        Brief description about what your looking for
                                    </p>
                                </div>



                                <div class="col-span-3 ">
                                    <label for="country" class="block text-sm font-semibold text-gray-700">Country
                                    </label>
                                    <select (change)="displayCities()" formControlName="country" id="country"
                                        name="country" autocomplete="country"
                                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                        <option value="">Select your country</option>

                                        <option value="{{country.name}}" *ngFor="let country of countries | async">{{country.name}}</option>


                                    </select>

                                    <div *ngIf="(country.dirty || country.touched) && country.errors" class="errors">
                                        <span *ngIf="country.errors?.required">Country is required</span>

                                    </div>
                                </div>

                                <div class="col-span-3 ">
                                    <label class="block text-sm font-semibold text-gray-700">City
                                    </label>
                                    <select formControlName="city"
                                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                        <option value="">Select your city</option>
                                        <option value="{{city}}" *ngFor="let city of (cities | async)?.data">{{city}}</option>



                                    </select>

                                    <div *ngIf="(city.dirty || city.touched) && city.errors" class="errors">
                                        <span *ngIf="city.errors?.required">City is required</span>

                                    </div>
                                </div>

                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address"
                                        class="block text-sm font-semibold text-gray-700">Adresse
                                    </label>
                                    <input formControlName="adresse" type="text" name="street_address"
                                        id="street_address" autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                    <div *ngIf="(adresse.dirty || adresse.touched) && adresse.errors" class="errors">
                                        <span *ngIf="adresse.errors?.required">Adresse is required</span>
                                        <span *ngIf="adresse.errors?.minlength">Adresse is short</span>
                                    </div>

                                </div>

                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address"
                                        class="block text-sm font-semibold text-gray-700">Website
                                    </label>
                                    <input formControlName="website" type="text" name="street_address"
                                        id="street_address" autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                    <div *ngIf="(website.dirty || website.touched) && website.errors" class="errors">
                                        <span *ngIf="website.errors?.pattern">website is invalid</span>

                                    </div>

                                </div>

                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address"
                                        class="block text-sm font-semibold text-gray-700">intiated Date
                                    </label>
                                    <input formControlName="initiatedDate" type="date" name="street_address"
                                        id="street_address" autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                    <div *ngIf="(initiatedDate.dirty || initiatedDate.touched) && initiatedDate.errors"
                                        class="errors">
                                        <span *ngIf="initiatedDate.errors?.required">Title is required</span>
                                    </div>

                                </div>

                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address"
                                        class="block text-sm font-semibold text-gray-700">Specialization
                                    </label>
                                    <input formControlName="specialization" type="text" name="street_address"
                                        id="street_address" autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                    <div *ngIf="(specialization.dirty || specialization.touched) && specialization.errors"
                                        class="errors">
                                        <span *ngIf="specialization.errors?.required">Specialization is required</span>
                                        <span *ngIf="specialization.errors?.minlength">Specialization is short</span>
                                    </div>

                                </div>

                                <div class="col-span-6 sm:col-span-4">
                                    <label class="block text-sm font-medium text-gray-700 mb-4">Page picture</label>
                                    <div class="mt-1 flex items-center">
                                        <span class="inline-block h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                                            <svg *ngIf="!pagePic" class="h-full w-full text-gray-300"
                                                fill="currentColor" viewBox="0 0 24 24">
                                                <path
                                                    d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                                            </svg>

                                            <img class="w-full h-full " *ngIf="pagePic"
                                                src="http://localhost:8080/api{{pagePic}}" alt="">
                                        </span>
                                        <button (click)="openFile('file')" type="button"
                                            class="ml-5 bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                            Change
                                        </button>
                                        <input accept="image/png,  image/jpeg" type="file" id="file"
                                            (change)="onFileSelected($event)" class="invisible">
                                    </div>
                                </div>

                                <div class="col-span-6 sm:col-span-4">
                                    <label class="block text-sm font-medium mb-2 text-gray-700">
                                        Cover Picture
                                    </label>

                                    <div *ngIf="!coverImageValue"
                                        class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                        <div class="space-y-1 text-center">
                                            <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor"
                                                fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                                <path
                                                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                            <div class="flex text-sm text-gray-600">
                                                <label for="file-upload"
                                                    class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                                    <span>Upload a file</span>
                                                    <input id="file-upload" (change)="readURL($event)"
                                                        name="file-upload" type="file" class="sr-only">
                                                </label>
                                                <p class="pl-1">or drag and drop</p>
                                            </div>
                                            <p class="text-xs text-gray-500">
                                                PNG, JPG, GIF up to 10MB
                                            </p>
                                        </div>
                                    </div>

                                    <div class="div">
                                        <img class=" rounded-md h-40 object-cover w-full cursor-pointer hover:opacity-80 transition-opacity" *ngIf="coverImageValue" (click)="openFile('file-upload')"
                                            [src]="coverImageValue" alt="">

                                        <input id="file-upload" (change)="readURL($event)" name="file-upload"
                                            type="file" class="sr-only invisible">
                                    </div>

                                </div>




                            </div>


                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button type="submit"
                                class=" hidden inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>


    <div class="flex justify-end mb-4">
        <button (click)="saveEntreprise()" type="submit"
            class="w-full md:w-auto mx-3 md:mx-0 next py-2 px-8 border border-transparent shadow-sm text-sm font-semibold rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            {{ButtonText}}
        </button>
    </div>

</div>