

<div class="container  mx-auto">

    <div class="filter mt-4 max-w-3xl md:mx-auto flex md:flex-row flex-col mx-2   md:justify-between">
        <div class="flex md:flex-row flex-col">
            <select (change)="displayData()" [(ngModel)]="sortAsc"
                class="mt-1 block mr-2 pr-7  py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">

                <option value="false">Old to New</option>
                <option value="true">New to Old</option>


            </select>

            <div class="relative">
                <svg class="absolute right-0 my-auto h-full mr-2" xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <input [(ngModel)]="title" (input)="displayData()" type="text"
                    class="mb-2 md:mb-0 w-full md:min-w-0 mt-1 pr-10 focus:ring-blue-500 focus:border-blue-500 block  shadow-sm sm:text-sm border-gray-300 rounded-md">
            </div>


        </div>

      



    </div>

    <div *ngFor="let currentEntreprise of (entreprises|async)?.content"
        class="max-w-3xl mx-auto mt-4 mb-4 profile-card relative shadow sm:rounded-md   ">
        <img class="max-h-40  w-full object-cover" src="{{env.endPoint+currentEntreprise.coverPhotoUrl}}" alt="">
        <img src="{{env.endPoint+currentEntreprise.pagePhotoUrl}}"
            class="object-cover w-28 h-28 absolute bg-white rounded-md -mt-14 ml-5 shadow" />
        <div class="content    rounded-t-full p-5 pt-20 bg-white">
            <h1 class="text-black text-lg">{{currentEntreprise.name}}</h1>
            <h1 class="text-base"> {{currentEntreprise.specialization}} <span class="text-3xl"> . </span> set in
                {{currentEntreprise.adresse}}</h1>

            <div class="md:justify-between flex md:flex-row flex-col">
                <h2 class="text-gray-400 font-normal"> {{currentEntreprise.country +' ' +currentEntreprise.city }}
                </h2>
                <div class="right-actions flex mt-4 md:mt-0">

                    <div routerLink="/entreprise/{{currentEntreprise.id}}"
                        class="h-9 w-9 mr-2 bg-white border-2 border-gray-200  hover:border-blue-400 hover:text-blue-500 transition-colors cursor-pointer rounded-full text-lg text-gray-600 flex items-center">
                        <span class="text-center  w-full">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="w-full" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </span>
                    </div>
               


                </div>
            </div>


        </div>


    </div>

    <div class="flex justify-center">
        <button *ngIf="(entreprises | async)?.totalElements>pageSize" (click)="loadMore()"
            class="max-w-3xl  w-full  py-4 px-8 bg-white shadow-lg rounded-lg mt-2 mb-4 transition hover:bg-blue-500 hover:text-white ">Load
            more</button>

        <div *ngIf="(entreprises | async)?.totalElements<=pageSize" class="mb-20"></div>
    </div>

</div>