<!-- component -->

<div class="w-full py-6">
  
    <div class="flex">
        <div class="w-1/4">
            <div class="relative mb-2">
                <div routerLink="/profileCreation" class="active w-10 h-10 mx-auto bg-white border-2 border-gray-200 hover:border-blue-400 transition-colors cursor-pointer rounded-full text-lg text-gray-600 flex items-center">
                    <span class="text-center  w-full">
                        <svg class="w-full fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            width="24" height="24">
                            <path class="heroicon-ui"
                                d="M19 10h2a1 1 0 0 1 0 2h-2v2a1 1 0 0 1-2 0v-2h-2a1 1 0 0 1 0-2h2V8a1 1 0 0 1 2 0v2zM9 12A5 5 0 1 1 9 2a5 5 0 0 1 0 10zm0-2a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm8 11a1 1 0 0 1-2 0v-2a3 3 0 0 0-3-3H7a3 3 0 0 0-3 3v2a1 1 0 0 1-2 0v-2a5 5 0 0 1 5-5h5a5 5 0 0 1 5 5v2z" />
                        </svg>
                    </span>
                </div>
            </div>

            <div class="text-xs text-center md:text-base">Basic informations</div>
        </div>

        <div class="w-1/4">
            <div class="relative mb-2">
                <div class="absolute flex align-center items-center align-middle content-center"
                    style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                    <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                        <div class="transition-all duration-700 w-1/3 bg-blue-300 py-1 rounded " [ngClass]="{'w-full':pageNumber>1}"></div>
                    </div>
                </div>

                <div  routerLink="/profileCreation/pro"  [ngClass]="{'active':pageNumber>=2}"   class="w-10 h-10 mx-auto bg-white border-2 border-gray-200  hover:border-blue-400 transition-colors cursor-pointer rounded-full text-lg text-gray-600 flex items-center">
                    <span class="text-center  w-full">
                        <svg class="w-full " fill="none" stroke="currentColor" viewBox="0 0 24 24" width=24 height=24
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>

            <div class="text-xs text-center md:text-base">Professional information</div>
        </div>

        <div class="w-1/4">
            <div class="relative mb-2">
                <div class="absolute flex align-center items-center align-middle content-center"
                    style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                    <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                        <div     class="w-0 transition-all duration-700  bg-blue-300 py-1 rounded" [ngClass]="{'w-full':pageNumber>2,'w-1/3':pageNumber==2}" ></div>
                    </div>
                </div>

                <div routerLink="/profileCreation/Aac"
                  [ngClass]="{'active':pageNumber>=3}"  class="w-10 h-10 mx-auto bg-white border-2 border-gray-200 hover:border-blue-400 transition-colors cursor-pointer rounded-full text-lg text-gray-600 flex items-center">
                    <span class="text-center  w-full">
                        <svg class="w-full" fill="none" stroke="currentColor" viewBox="0 0 24 24" width="24" height="24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>

            <div class="text-xs text-center md:text-base">Associted accounts</div>
        </div>

        <div class="w-1/4">
            <div class="relative mb-2 ">
                <div class="absolute flex align-center items-center align-middle content-center"
                    style="width: calc(100% - 2.5rem - 1rem); top: 50%; transform: translate(-50%, -50%)">
                    <div class="w-full bg-gray-200 rounded items-center align-middle align-center flex-1">
                        <div   class="w-0 transition-all duration-700  bg-blue-300 py-1 rounded" [ngClass]="{'w-full':pageNumber>3,'w-1/3':pageNumber==3}"></div>
                    </div>
                </div>

                <div  [ngClass]="{'active':pageNumber>3}"
                    class="w-10 h-10 mx-auto bg-white border-2 border-gray-200 rounded-full text-lg text-gray-600 flex items-center">
                    <span class="text-center  w-full">
                        <svg class="w-full fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                            width="24" height="24">
                            <path class="heroicon-ui"
                                d="M12 22a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-2.3-8.7l1.3 1.29 3.3-3.3a1 1 0 0 1 1.4 1.42l-4 4a1 1 0 0 1-1.4 0l-2-2a1 1 0 0 1 1.4-1.42z" />
                        </svg>
                    </span>
                </div>
            </div>

            <div class="text-xs text-center md:text-base">Finished</div>
        </div>
    </div>
</div>

<div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
        <div class="border-t border-gray-200"></div>
    </div>
</div>

<router-outlet></router-outlet>