<div class="pt-11 md:mx-5 sm:mt-0">

    <div>
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
                    <p class="mt-1 text-sm text-gray-600">
                        This information will be displayed publicly so be careful what you share.
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form [formGroup]="profileForm">
                    <div class="shadow sm:rounded-md sm:overflow-hidden">
                        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6 md:col-span-2">
                                    <label for="company_website" class="block text-sm font-medium text-gray-700">
                                        Website
                                    </label>
                                    <div class="mt-1 flex rounded-md shadow-sm">
                                        <span
                                            class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 text-sm">
                                            http://
                                        </span>
                                        <input formControlName="protfolioWebSiteUrl" type="text" name="company_website"
                                            id="company_website"
                                            class="focus:ring-blue-500 focus:border-blue-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
                                            placeholder="www.example.com">

                                        <div *ngIf="(protfolioWebSiteUrl.dirty || protfolioWebSiteUrl.touched) && protfolioWebSiteUrl.errors"
                                            class="errors">

                                            <span *ngIf="protfolioWebSiteUrl.errors?.pattern">Website is invalid</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-span-6 ">
                                    <label for="about" class="block text-sm font-medium text-gray-700">
                                        About
                                    </label>
                                    <div class="mt-1">
                                        <textarea formControlName="description" id="about" name="about" rows="3"
                                            class="shadow-sm focus:ring-blue-500 focus:border-blue-500 mt-1 block w-full sm:text-sm border-gray-300 rounded-md"
                                            placeholder=""></textarea>

                                        <div *ngIf="(description.dirty || description.touched) && description.errors"
                                            class="errors">
                                            <span *ngIf="description.errors?.required">Description is required</span>
                                            <span *ngIf="description.errors?.minlength">Description is short</span>
                                        </div>
                                    </div>
                                    <p class="mt-2 text-sm text-gray-500">
                                        Brief description for your profile
                                    </p>
                                </div>

                                <div class="col-span-6 ">
                                    <label for="country" class="block text-sm font-medium text-gray-700">Country /
                                        Region</label>
                                    <select formControlName="country" id="country" name="country" autocomplete="country"
                                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                        <option value="">Select your country</option>
                                        <option *ngFor="let country of countries | async">{{country.name}}</option>

                                    </select>

                                    <div *ngIf="(country.dirty || country.touched) && country.errors" class="errors">
                                        <span *ngIf="country.errors?.required">Country is required</span>

                                    </div>
                                </div>

                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address" class="block text-sm font-medium text-gray-700">Street
                                        address</label>
                                    <input formControlName="streetAddress" type="text" name="street_address"
                                        id="street_address" autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">


                                </div>

                                <div class="col-span-6 md:col-span-3">
                                    <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                                    <input formControlName="city" t type="text" name="city" id="city"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">

                                    <div *ngIf="(city.dirty || city.touched) && city.errors" class="errors">
                                        <span *ngIf="city.errors?.required">City is required</span>
                                        <span *ngIf="city.errors?.minlength">City is invalid</span>
                                    </div>
                                </div>

                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address"
                                        class="block text-sm font-medium text-gray-700">Speciality</label>
                                    <input formControlName="speciality" type="text" name="street_address"
                                        id="street_address" autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(speciality.dirty || speciality.touched) && speciality.errors"
                                        class="errors">
                                        <span *ngIf="speciality.errors?.required">Speciality is required</span>
                                        <span *ngIf="speciality.errors?.minlength">Speciality is invalid</span>
                                    </div>

                                </div>


                                <div class="col-span-6 md:col-span-3">
                                    <label for="street_address" class="block text-sm font-medium text-gray-700">Primary
                                        Language</label>
                                    <input formControlName="primaryL" type="text" name="street_address"
                                        id="street_address" autocomplete="street-address"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(primaryL.dirty || primaryL.touched) && primaryL.errors" class="errors">
                                        <span *ngIf="primaryL.errors?.required">Primary Language is required</span>
                                        <span *ngIf="primaryL.errors?.minlength">Primary Language is invalid</span>
                                    </div>

                                </div>



                            </div>

                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button (click)="updateProfile()" type="submit"
                                class="  inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>

    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Language level</h3>
                    <p class="mt-1 text-sm text-gray-600">
                        Please check languages that you actualy know
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div action="#" method="POST">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-12 gap-6">

                                <div class="col-span-full md:col-span-6">
                                    <label for="first_name"
                                        class="block text-sm font-medium text-gray-700">Language</label>
                                    <input [(ngModel)]="language" type="text" name="first_name" id="first_name"
                                        autocomplete="given-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                </div>


                                <div class="col-span-full sm:col-span-6">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">Language
                                        level</label>
                                    <select [(ngModel)]="languagelevel" autocomplete="country"
                                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                        <option value="Beginner">Beginner</option>
                                        <option value="Intermediate">Intermediate</option>
                                        <option value="Fluent">Fluent</option>


                                    </select>
                                    <!-- <input [(ngModel)]="languagelevel" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"> -->
                                </div>

                                <button *ngIf="addOrSave=='Add'" (click)="addLanguage()" type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    {{addOrSave}}
                                </button>

                                <button *ngIf="addOrSave=='Save'" (click)="updateLanguage()" type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    {{addOrSave}}
                                </button>



                                <div class="col-span-full overflow-x-auto mt-6">

                                    <table class="table-auto border-collapse w-full">
                                        <thead>
                                            <tr class="rounded-lg text-sm font-medium text-gray-700 text-left"
                                                style="font-size: 0.9674rem">
                                                <th class="px-4 py-2 bg-gray-300">
                                                    Language</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Language level</th>
                                                <th class="px-4 py-2 bg-gray-300 ">actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-sm font-normal text-gray-700">
                                            <tr *ngFor="let lang of languages;let i = index"
                                                class="hover:bg-gray-100 border-b border-gray-200 py-10">
                                                <td class="px-4 py-4">{{lang.language}}</td>
                                                <td class="px-4 py-4">{{lang.languagelevel}}</td>
                                                <td class="px-4 py-4">
                                                    <div class="flex item-center justify-start">

                                                        <div (click)="displayTableData(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                            </svg>
                                                        </div>

                                                        <div (click)="deleteLanguage(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                        <div class=" px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button (click)="updateProfile()" type="submit"
                                class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>

    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Education</h3>
                    <p class="mt-1 text-sm text-gray-600">
                        Please check languages that you actualy know
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form [formGroup]="educationFrom">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-12 gap-6">

                                <div class="col-span-full md:col-span-6">
                                    <label for="first_name" class="block text-sm font-medium text-gray-700">School
                                        name</label>
                                    <input formControlName="schoolName" type="text" name="first_name" id="first_name"
                                        autocomplete="given-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(EschoolName.dirty || EschoolName.touched) && EschoolName.errors"
                                        class="errors">
                                        <span *ngIf="EschoolName.errors?.required">School name is required</span>

                                    </div>
                                </div>
                                <div class="col-span-full md:col-span-3">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">Start
                                        year</label>
                                    <input formControlName="startYear" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(EstartYear.dirty || EstartYear.touched) && EstartYear.errors"
                                        class="errors">
                                        <span *ngIf="EstartYear.errors?.required">Start Year name is required</span>
                                        <span *ngIf="EstartYear.errors?.pattern">Start Year is invalid (ex:2015)</span>

                                    </div>
                                </div>
                                <div class="col-span-full md:col-span-3">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">End
                                        year</label>
                                    <input formControlName="endYear" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(EendYear.dirty || EendYear.touched) && EendYear.errors" class="errors">
                                        <span *ngIf="EendYear.errors?.required">End Year is required</span>
                                        <span *ngIf="EendYear.errors?.pattern">End Year is invalid (ex:2015)</span>

                                    </div>
                                </div>

                                <div class="col-span-full md:col-span-6">
                                    <label for="last_name"
                                        class="block text-sm font-medium text-gray-700">Specialization</label>
                                    <input formControlName="specialization" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(Especialization.dirty || Especialization.touched) && Especialization.errors"
                                        class="errors">
                                        <span *ngIf="Especialization.errors?.required">Specialization is required</span>

                                    </div>
                                </div>

                                <div class="col-span-full md:col-span-6">
                                    <label for="last_name"
                                        class="block text-sm font-medium text-gray-700">Country</label>
                                    <select formControlName="country" id="country" name="country" autocomplete="country"
                                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                        <option value="">Select your country</option>
                                        <option *ngFor="let country of countries | async">{{country.name}}</option>

                                    </select>
                                    <div *ngIf="(Ecountry.dirty || Ecountry.touched) && Ecountry.errors" class="errors">
                                        <span *ngIf="Ecountry.errors?.required">Country is required</span>

                                    </div>
                                </div>



                                <button *ngIf="educationButton=='Add'" (click)="addEducations()" type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    Add
                                </button>

                                <button *ngIf="educationButton=='Save'" (click)="updateEducations()" type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    Save
                                </button>



                                <div class="col-span-full overflow-x-auto mt-6">

                                    <table class="table-auto border-collapse w-full">
                                        <thead>
                                            <tr class="rounded-lg text-sm font-medium text-gray-700 text-left"
                                                style="font-size: 0.9674rem">
                                                <th class="px-4 py-2 bg-gray-300">
                                                    School name</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Specialization</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Country</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Start year</th>
                                                <th class="px-4 py-2 bg-gray-300 ">End year</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-sm font-normal text-gray-700">
                                            <tr *ngFor="let educ of educations ; let i=index"
                                                class="hover:bg-gray-100 border-b border-gray-200 py-10">
                                                <td class="px-4 py-4">{{educ.schoolName}}</td>
                                                <td class="px-4 py-4">{{educ.specialization}}</td>
                                                <td class="px-4 py-4">{{educ.country}}</td>
                                                <td class="px-4 py-4">{{educ.startYear }}</td>
                                                <td class="px-4 py-4">{{educ.endYear }}</td>
                                                <td class="px-4 py-4">
                                                    <div class="flex item-center justify-start">

                                                        <div (click)="displayEducations(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                            </svg>
                                                        </div>

                                                        <div (click)="deleteEducations(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button  (click)="updateProfile()" type="submit"
                                class=" inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>

    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Certification</h3>
                    <p class="mt-1 text-sm text-gray-600">
                        Please check languages that you actualy know
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form [formGroup]="certificationForm">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-12 gap-6">

                                <div class="col-span-full md:col-span-6">
                                    <label for="first_name" class="block text-sm font-medium text-gray-700">Certifation
                                        name</label>
                                    <input formControlName="name" type="text" name="first_name" id="first_name"
                                        autocomplete="given-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(Cname.dirty || Cname.touched) && Cname.errors" class="errors">
                                        <span *ngIf="Cname.errors?.required">Name is required</span>

                                    </div>
                                </div>
                                <div class="col-span-full md:col-span-6">
                                    <label for="last_name"
                                        class="block text-sm font-medium text-gray-700">Specialization</label>
                                    <input formControlName="specialization" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(Cspecialization.dirty || Cspecialization.touched) && Cspecialization.errors"
                                        class="errors">
                                        <span *ngIf="Cspecialization.errors?.required">Specialization is required</span>

                                    </div>
                                </div>
                                <div class="col-span-full md:col-span-6">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">Certified
                                        from</label>
                                    <input formControlName="certifiedFrom" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(CcertifiedFrom.dirty || CcertifiedFrom.touched) && CcertifiedFrom.errors"
                                        class="errors">
                                        <span *ngIf="CcertifiedFrom.errors?.required">Certified from is required</span>

                                    </div>
                                </div>

                                <div class="col-span-full md:col-span-6">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">Certification
                                        Date</label>
                                    <input formControlName="certificationDate" type="date" name="last_name"
                                        id="last_name" autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(CcertificationDate.dirty || CcertificationDate.touched) && CcertificationDate.errors"
                                        class="errors">
                                        <span *ngIf="CcertificationDate.errors?.required">Date is required</span>

                                    </div>
                                </div>





                                <button *ngIf="certificationButton=='Add'" (click)="addCertification()" type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    Add
                                </button>


                                <button *ngIf="certificationButton=='Save'" (click)="updateCertification()"
                                    type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    Save
                                </button>





                                <div class="col-span-full overflow-x-auto mt-6">

                                    <table class="table-auto border-collapse w-full">
                                        <thead>
                                            <tr 
                                                class="rounded-lg text-sm font-medium text-gray-700 text-left"
                                                style="font-size: 0.9674rem">
                                                <th class="px-4 py-2 bg-gray-300">
                                                    Certifation name</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Specialization</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Certified from</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Certifcation year</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Actions</th>

                                            </tr>
                                        </thead>
                                        <tbody class="text-sm font-normal text-gray-700">
                                            <tr *ngFor="let cert of certifications;let i=index"
                                                class="hover:bg-gray-100 border-b border-gray-200 py-10">
                                                <td class="px-4 py-4">{{cert.name}}</td>
                                                <td class="px-4 py-4">{{cert.specialization}}</td>
                                                <td class="px-4 py-4">{{cert.certifiedFrom}}</td>
                                                <td class="px-4 py-4">{{cert.certificationDate}}</td>
                                                <td class="px-4 py-4">
                                                    <div class="flex item-center justify-start">

                                                        <div (click)="displayCertification(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                            </svg>
                                                        </div>

                                                        <div (click)="deleteCertification(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button (click)="updateProfile()" type="submit"
                                class=" inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>

    <div class="mt-10 sm:mt-0">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <div class="px-4 sm:px-0">
                    <h3 class="text-lg font-medium leading-6 text-gray-900">Occupation</h3>
                    <p class="mt-1 text-sm text-gray-600">
                        Please check languages that you actualy know
                    </p>
                </div>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <form [formGroup]="occupationForm">
                    <div class="shadow overflow-hidden sm:rounded-md">
                        <div class="px-4 py-5 bg-white sm:p-6">
                            <div class="grid grid-cols-12 gap-6">

                                <div class="col-span-full md:col-span-6">
                                    <label for="first_name"
                                        class="block text-sm font-medium text-gray-700">Title</label>
                                    <input formControlName="title" type="text" name="first_name" id="first_name"
                                        autocomplete="given-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(Otitle.dirty || Otitle.touched) && Otitle.errors" class="errors">
                                        <span *ngIf="Otitle.errors?.required">Title is required</span>

                                    </div>
                                </div>
                                <div class="col-span-full md:col-span-3">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">Start
                                        year</label>
                                    <input formControlName="startYear" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(OstartYear.dirty || OstartYear.touched) && OstartYear.errors"
                                        class="errors">
                                        <span *ngIf="OstartYear.errors?.required">End Year is required</span>
                                        <span *ngIf="OstartYear.errors?.pattern">Year is invalid (ex:2015)</span>
                                    </div>
                                </div>
                                <div class="col-span-full md:col-span-3">
                                    <label for="last_name" class="block text-sm font-medium text-gray-700">End
                                        year</label>
                                    <input formControlName="endYear" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(OendYear.dirty || OendYear.touched) && OendYear.errors" class="errors">
                                        <span *ngIf="OendYear.errors?.required">End Year is required</span>
                                        <span *ngIf="OendYear.errors?.pattern">Year is invalid (ex:2015)</span>
                                    </div>
                                </div>

                                <div class="col-span-full md:col-span-6">
                                    <label for="last_name"
                                        class="block text-sm font-medium text-gray-700">Specialization</label>
                                    <input formControlName="specialization" type="text" name="last_name" id="last_name"
                                        autocomplete="family-name"
                                        class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                    <div *ngIf="(Ospecialization.dirty || Ospecialization.touched) && Ospecialization.errors"
                                        class="errors">
                                        <span *ngIf="Ospecialization.errors?.required">Ospecialization is
                                            required</span>

                                    </div>
                                </div>

                                <div class="col-span-full md:col-span-6">
                                    <label for="last_name"
                                        class="block text-sm font-medium text-gray-700">Country</label>
                                    <select formControlName="country" id="country" name="country" autocomplete="country"
                                        class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                        <option value="">Select your country</option>
                                        <option *ngFor="let country of countries | async">{{country.name}}</option>

                                    </select>
                                    <div *ngIf="(Ocountry.dirty || Ocountry.touched) && Ocountry.errors" class="errors">
                                        <span *ngIf="Ocountry.errors?.required">Country is required</span>

                                    </div>
                                </div>



                                <button *ngIf="occupationButton=='Add'" (click)="addOccupation()" type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    Add
                                </button>

                                <button *ngIf="occupationButton=='Save'" (click)="updateOccupation()" type="submit"
                                    class=" col-span-12 md:col-span-3 right-0 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                    Save
                                </button>



                                <div class="col-span-full overflow-x-auto mt-6">

                                    <table class="table-auto border-collapse w-full">
                                        <thead>
                                            <tr class="rounded-lg text-sm font-medium text-gray-700 text-left"
                                                style="font-size: 0.9674rem">
                                                <th class="px-4 py-2 bg-gray-300">
                                                    Title</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Specialization</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Country</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Start year</th>
                                                <th class="px-4 py-2 bg-gray-300 ">end year</th>
                                                <th class="px-4 py-2 bg-gray-300 ">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-sm font-normal text-gray-700">
                                            <tr *ngFor="let occup of occupations ; let i = index"
                                                class="hover:bg-gray-100 border-b border-gray-200 py-10">
                                                <td class="px-4 py-4">{{occup.title}}</td>
                                                <td class="px-4 py-4">{{occup.specialization}}</td>
                                                <td class="px-4 py-4">{{occup.country}}</td>
                                                <td class="px-4 py-4">{{occup.startYear}}</td>
                                                <td class="px-4 py-4">{{occup.endYear}}</td>

                                                <td class="px-4 py-4">
                                                    <div class="flex item-center justify-start">

                                                        <div (click)="displayOccupation(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                            </svg>
                                                        </div>

                                                        <div (click)="deleteOccupation(i)"
                                                            class="w-4 mr-2 transform cursor-pointer hover:text-blue-500 hover:scale-110">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>



                            </div>
                        </div>
                        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                            <button (click)="updateProfile()" type="submit"
                                class=" inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>

  


</div>