<div class="p-5 w-full text-center">

    <h1 class="text-2xl mb-4 md:mb-10">Congratulations !!!</h1>

    <div class="text-blue-500  w-40 h-40 mx-auto mb-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
        </svg>
    </div>


    <div class="flex justify-center">
        <ul class=" ">
            <li  class="flex my-auto mb-1" >      <h4>Now you have access to :</h4></li>
            <li class="flex my-auto mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class=" text-blue-500 mr-1 my-auto bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg> Create and sell your services
            </li>

            <li class="flex my-auto mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class=" text-blue-500 mr-1 my-auto bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg> Create Publications for your entreprises
            </li>

            <li class="flex my-auto mb-1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                    fill="currentColor" class=" text-blue-500 mr-1 my-auto bi bi-check-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path
                        d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                </svg> Participate in new entreprises recruitment
            </li>



        </ul>
    </div>

    

</div>

<div class="md:fixed w-full md:px-2 bottom-0 flex justify-end mb-4">
    <button  type="submit"
        class="w-full md:w-auto mx-3 md:mx-0 next py-2 px-8 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
        Next
    </button>
</div>