/* external css: flickity.css, fullscreen.css */
.active_tab {
  @apply text-blue-500 border-b-2 font-medium border-blue-500 mx-2;
}

.tabs:hover {
  @apply text-blue-500 border-b-2 font-medium border-blue-500;
}


.carousel {
    background: #222;
  }
  
  .carousel-cell {
    width: 100%;
    height: 450px;
    
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }
  
  .carousel-cell-image img {
    display: block;
    max-height: 100%;
  }
  
  .carousel.is-fullscreen .carousel-cell-image {
    max-width: 100%;
  }
  
  
  .transparent-gray{
    background-color: rgba(128, 128, 128, 0.644);
  }